body{
    background-color: #FFFFA7;
}
.ai{
    padding-left: 125px;
    height: 400px;
    width: 500px;
    gap: 50px;
}
.cc{
   
    height: 400px;
    width: 500px;
}
.cy{
    padding-left: 125px;
    height: 400px;
    width: 500px;
    gap: 50px;
}
.da{

    height: 400px;
    width: 500px;
}
.ds{
    padding-left: 125px;
    height: 400px;
    width: 500px;
    gap: 50px;
}
.ml{
   
    height: 400px;
    width: 500px;
}